<!---- <button  (click)="onStatus()">Presioname</¡¡button>
<button [disabled]="status">CAMBIAR</button>-->

 <!-- <p *ngIf="status===true; else elseBlock">Contenido del boton</p> -->
 <!--<input type="text" required  [(ngModel)]="newName">
<button (click)="addAmigo()">Agregar Amigo</button>-->
 <!-- <ng-template #elseBlock>
    <p>SOY OTRO CONTENIDO</p>
    <ul>
       <li *ngIf="usuario.amigos.length === 0">No hay mas amigos</li>
       <li *ngFor="let amigo of usuario.amigos; index as i">{{i}} --- {{amigo}}
        <button (click)="deleteAmigo(i)">Eliminar Amigo</button>
       </li>
    </ul>
</ng-template> -->


 <!--<input type="text" required #nameInput="ngModel" [(ngModel)]="usuario.name">
<h1>{{ usuario.name }}</h1>
<p>Valid Name: {{nameInput.valid}}</p>

<input type="number" required  min="10"  max="18"  #ageInput="ngModel" [(ngModel)]="usuario.age">
<p>Valid Age: {{ageInput.valid}}</p> -->

 <!--<p class="box" (scroll)="onScroll($event)">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  Odit error et esse harum? Sapiente culpa nesciunt nulla quaerat
  corporis, pariatur iusto optio dolore
  modi, eveniet id porro et accusamus beatae!
Lorem ipsum dolor sit amet consectetur adipisicing elit. In
consectetur enim cum laborum reprehenderit, labore numquam
 mollitia nostrum adipisci sint repellendus reiciendis exercitationem
  accusamus
 repudiandae amet eaque illum excepturi culpa.</p>-->


 <!---<input type="text" required #nameInput="ngModel" [(ngModel)]="usuario.name">
 <p class="error" [class.invalid]="nameInput.invalid">Campo Requerido</p>

 <label for="">Nombre</label>
 <input type="text" required #nameInput2="ngModel" [(ngModel)]="usuario.name">
 <p [style.font-style]="nameInput2.invalid ? 'italic' : 'cursive'">Texto Rexto</p>-->

  <!-- NGCLASS
 <input type="text" required #nameInput="ngModel" [(ngModel)]="usuario.name">
 <hr  class="line-error"
   [ngClass]="{
      'valid': nameInput.valid,
      'invalid': nameInput.invalid
   }"
 />
 <p class="error" [class.invalid]="nameInput.invalid">Campo Requerido</p> --->

 <!--- NGSTYLES
<div class="styles">
   <div>
      <input type="text" required [(ngModel)]="box.width">
      <input type="text" required [(ngModel)]="box.height">
      <input type="color" required [(ngModel)]="box.background">
   </div>
   <div [ngStyle]="{
         'width.px': box.width,
         'height.px': box.height,
         'background-color': box.background,
         'display': 'block'
    }">
  </div>
</div>--->

<h1>FORMULARIO</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
   <div class="input-group">
      <label for="name">Nombre</label>
      <input type="text" [(ngModel)]="register.name" id="name"  required name="name" />
      <p>Mensaje de Error</p>
   </div>
   <div class="input-group">
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="register.email" id="email"  required name="email">
    <p>Mensaje de Error</p>
   </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="register.password" id="password" required name="password">
    <p>Mensaje de Error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
</form>


 <section class="products">
     <div *ngFor="let product of products">
         <figure>
            <img  [src]="product.image" alt="image">
         </figure>
         <p>Precio: {{product.price}}</p>
         <h3>{{product.name}}</h3>
     </div>
 </section>
